body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 43px;
}


/* header design */

.header {
    background: rgba(229, 84, 115, 0.10);
    border: 1px solid red;
}

.text-primary-color {
    color: #E55473;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.banner {
    padding: 30px 150px 0px 150px;
    display: flex;
    gap: 97px;
}

.profile-pic {
    width: 300px;
    justify-content: right;
}

.banner-motivation {
    color: #272727;
    font-size: 62px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 0px;
}

.banner-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    margin: 32px 0px;
}

.banner-content {
    max-width: 650px;
    margin-bottom: 100px;
}

/*  */

.featured-txt {
    text-align: center;
}

.flower-option {
    display: flex;
    justify-content: space-between;
}

.flower-border {
    background-color: rgba(167, 33, 98, 0.15);
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    width: 350px;
}

.features-img {
    width: 200px;
    margin: 0px 0px -5px 67px;
}

.featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin: 178px 0px 24px 0px;
}

.featured-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
}

.featured-flower {
    margin: 0 150px;
}

.fb-one {
    background: rgba(167, 33, 98, 0.15);
}

.fb-two {
    background: rgba(5, 151, 160, 0.15);
}

.fb-three {
    background: rgba(71, 125, 17, 0.15);

}

.flower-name {
    margin-top: 32px;
    text-decoration: underline black;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

/* services style */

.services {
    display: flex;
    margin: 130px 150px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    justify-content: space-around;

}

.services-container {
    padding: 70px 0px;
    text-align: center;
}

.service-img {
    width: 70px;
}

/* deal style */

.deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    padding: 100px 200px;
    align-items: center;
    gap: 185px;
}

.deal-content {
    text-align: center;
    max-width: 580 px;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.deal-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

/* social style */

.social-head {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.social-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.instagram {
    text-align: center;
}

.social-img {
    width: 340px;
}

/* subscribe style */

.subscribe {
    background-image: url('Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    width: 1400px;
    text-align: center;
    margin: 120px 120px;
    height: 500px;
    padding: 120px 0px;
}

.enter-mail {
    padding: 23px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    width: 700px;
}

.subs-head {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 15px 0px;
}

.subs-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 40px;
}